*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
.tw-absolute {
    position: absolute !important
}
.-tw-top-\[20px\] {
    top: -20px !important
}
.tw-bottom-0 {
    bottom: 0px !important
}
.-tw-right-\[50px\] {
    right: -50px !important
}
.-tw-top-\[16px\] {
    top: -16px !important
}
.tw-z-10 {
    z-index: 10 !important
}
.tw-my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important
}
.tw-mx-8 {
    margin-left: 2rem !important;
    margin-right: 2rem !important
}
.tw-ml-2 {
    margin-left: 0.5rem !important
}
.tw-mt-10 {
    margin-top: 2.5rem !important
}
.tw-mt-20 {
    margin-top: 5rem !important
}
.tw-mr-2 {
    margin-right: 0.5rem !important
}
.tw-block {
    display: block !important
}
.tw-flex {
    display: flex !important
}
.tw-grid {
    display: grid !important
}
.tw-h-24 {
    height: 6rem !important
}
.tw-h-20 {
    height: 5rem !important
}
.tw-h-1 {
    height: 0.25rem !important
}
.tw-h-full {
    height: 100% !important
}
.tw-h-28 {
    height: 7rem !important
}
.tw-h-10 {
    height: 2.5rem !important
}
.tw-h-16 {
    height: 4rem !important
}
.tw-h-4 {
    height: 1rem !important
}
.tw-h-\[10px\] {
    height: 10px !important
}
.tw-h-14 {
    height: 3.5rem !important
}
.tw-min-h-screen {
    min-height: 100vh !important
}
.tw-w-full {
    width: 100% !important
}
.tw-w-28 {
    width: 7rem !important
}
.tw-w-10 {
    width: 2.5rem !important
}
.tw-w-4 {
    width: 1rem !important
}
.tw-cursor-pointer {
    cursor: pointer !important
}
.tw-items-center {
    align-items: center !important
}
.tw-space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(1rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.tw-space-y-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse)) !important
}
.tw-space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse))) !important
}
.tw-rounded-lg {
    border-radius: 0.5rem !important
}
.tw-rounded-none {
    border-radius: 0px !important
}
.tw-rounded-r-none {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important
}
.tw-rounded-l-lg {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important
}
.tw-rounded-r-lg {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important
}
.tw-rounded-l-none {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important
}
.tw-border-2 {
    border-width: 2px !important
}
.tw-border-none {
    border-style: none !important
}
.tw-border-\[\#005CBB\] {
    --tw-border-opacity: 1 !important;
    border-color: rgb(0 92 187 / var(--tw-border-opacity)) !important
}
.tw-bg-\[\#005CBB\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(0 92 187 / var(--tw-bg-opacity)) !important
}
.tw-bg-\[\#F7F7F7\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important
}
.tw-bg-\[\#F8F8F8\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity)) !important
}
.tw-bg-\[\#D69F12\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(214 159 18 / var(--tw-bg-opacity)) !important
}
.tw-bg-transparent {
    background-color: transparent !important
}
.tw-bg-\[\#1866B6\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(24 102 182 / var(--tw-bg-opacity)) !important
}
.tw-bg-\[\#BB7000\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(187 112 0 / var(--tw-bg-opacity)) !important
}
.tw-object-contain {
    -o-object-fit: contain !important;
       object-fit: contain !important
}
.tw-py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important
}
.tw-py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important
}
.tw-py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important
}
.tw-px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important
}
.tw-pr-10 {
    padding-right: 2.5rem !important
}
.tw-text-left {
    text-align: left !important
}
.tw-text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important
}
.tw-text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important
}
.tw-text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important
}
.tw-text-4xl {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important
}
.tw-font-normal {
    font-weight: 400 !important
}
.tw-font-semibold {
    font-weight: 600 !important
}
.tw-leading-loose {
    line-height: 2 !important
}
.tw-tracking-wider {
    letter-spacing: 0.05em !important
}
.tw-tracking-wide {
    letter-spacing: 0.025em !important
}
.tw-text-\[\#005CBB\] {
    --tw-text-opacity: 1 !important;
    color: rgb(0 92 187 / var(--tw-text-opacity)) !important
}
.tw-text-gray-500 {
    --tw-text-opacity: 1 !important;
    color: rgb(107 114 128 / var(--tw-text-opacity)) !important
}
.tw-text-gray-600 {
    --tw-text-opacity: 1 !important;
    color: rgb(75 85 99 / var(--tw-text-opacity)) !important
}
.tw-text-\[\#005DBB\] {
    --tw-text-opacity: 1 !important;
    color: rgb(0 93 187 / var(--tw-text-opacity)) !important
}
.tw-text-\[\#D69F12\] {
    --tw-text-opacity: 1 !important;
    color: rgb(214 159 18 / var(--tw-text-opacity)) !important
}
.tw-text-\[\#000000\] {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}
.tw-text-gray-400 {
    --tw-text-opacity: 1 !important;
    color: rgb(156 163 175 / var(--tw-text-opacity)) !important
}
.tw-underline {
    text-decoration-line: underline !important
}
.tw-no-underline {
    text-decoration-line: none !important
}
.tw-shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}
.tw-shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.nav-link {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.nav-link .active {
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.nav-link:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
    .md\:tw-h-36 {
        height: 9rem !important
    }
    .md\:tw-min-h-screen {
        min-height: 100vh !important
    }
    .md\:tw-w-72 {
        width: 18rem !important
    }
    .md\:tw-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important
    }
    .md\:tw-text-xl {
        font-size: 1.25rem !important;
        line-height: 1.75rem !important
    }
}

@media (min-width: 1280px) {
    .xl\:tw-w-2\/3 {
        width: 66.666667% !important
    }
    .xl\:tw-px-20 {
        padding-left: 5rem !important;
        padding-right: 5rem !important
    }
}

